{% extends './template.html' %}

{% block content %}

<div>
    {% include './components/banner.html' %}
    
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6">
            <div class="w-100 d-grid gap-2">
                <a href="{% url 'Movimentacao_Reg_Entrada' %}" class="btn btn-lg btn-outline-primary">Registrar Entrada</a>
                <a href="{% url 'Movimentacao_Reg_Saída' %}" class="btn btn-lg btn-outline-warning">Registrar Saída</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}