{% extends './template.html' %}

{% load static %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-12 col-md-6 d-flex">
        <div class="card w-100 my-3 shadow">
            <div class="card-header">Perfil</div>
            <div class="card-body">
                <div class="text-center">
                    <h1 class="display-2 text-muted">
                        <i class="bi bi-person-circle me-1"></i>
                    </h1>
                </div>
                <div class="mb-3">
                    <label for="username">Usuário</label>
                    <input id="username" type="text" class="form-control" readonly value="{{user.username}}" />
                </div>

                <div class="mb-3">
                    <label for="first_name">Nome</label>
                    <input id="first_name" type="text" class="form-control" readonly value="{{user.first_name}}" />
                </div>
                <div class="mb-3">
                    <label for="last_name">Sobrenome</label>
                    <input id="last_name" type="text" class="form-control" readonly value="{{user.last_name}}" />
                </div>
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input id="email" type="text" class="form-control" readonly value="{{user.email}}" />
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}