{% extends './template.html' %}

{% load static %}

{% block content %}
<div>
    <div class="row mt-5 mb-3">
        <div class="col d-flex flex-row justify-content-between align-items-start">
            <h1 class="h2">Produtos</h1>
            {% if perms.core.add_produto %}
            <a href="{% url 'Backoffice_Cadastrar_Produto' %}" class="btn btn-outline-primary">Cadastrar</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <form method="get">
                {% csrf_token %}
                {{ form }}
                {% if filtro_pesquisa %}
                {% endif %}
            </form>
        </div>
    </div>
    {% include 'componentes/tabela_produto.html' %}
</div>

{% endblock %}