{% extends '_base.html' %}

{% load static %}

{% block page %}

{% include './components/header.html' %}

<div class="container-fluid container-md">
    {% if user.is_authenticated %}

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-1" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}

    {% else %}
    <div class="container">
        {% include './components/banner.html' %}

        <div class="row">
            <div class="col text-center pt-5">
                <a href="/admin/login/?next={{request.path}}" class="btn btn-lg btn-primary shadow">Fazer login</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}