{% load static %}
<nav class="navbar navbar-expand-md bg-body-tertiary shadow">
    <div class="container-fluid align-items-center">
        <div>
            {% if user.is_authenticated %}
            <button class="navbar-toggler border-0 me-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% endif %}
            <a class="navbar-brand" href="/">
                <img src="{% static 'imgs/warehouse_cart_packages_icon_128.png' %}" alt="Aphongás" width="30"
                    height="24">
                Aphongás
            </a>
        </div>

        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Movimentacao_Index' %}">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'Movimentacao_Produtos' %}">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Movimentacao_Reg_Entrada' %}">Registrar Entrada</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Movimentacao_Reg_Saída' %}">Registrar Saída</a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav">
            <div class="nav-item dropdown">
                <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle me-1"></i>
                    <div class="d-none d-sm-inline ">
                        {{user.first_name}}
                    </div>
                </button>
                <ul class="dropdown-menu position-absolute">
                    <li><a class="dropdown-item" href="{% url 'Movimentacao_Perfil' %}">Perfil</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'Backoffice_Index'  %}">Backoffice</a></li>
                    {% if user.is_superuser %}
                    <li><a class="dropdown-item" href="{% url 'admin:index' %}">Administração</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                </ul>
            </div>
        </div>
        {% else %}
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
                <a href="/admin/login/?next={{request.path}}" class="nav-link">Fazer login</a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>