{% extends './_page.html' %}

{% block interno %}

{% if not filtro %}
<div class="row">
    <div class="col mb-3">
        <div class="card text-bg-light w-100">
            <div class="card-body w-100" style="height: 250px;">
                <canvas id="myChart1"></canvas>
            </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="card text-bg-light w-100">
            <div class="card-body w-100" style="height: 250px;">
                <canvas id="myChart2"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 col-sm-3 mb-3">
        <div class="card text-bg-primary h-100">
            <div class="card-body">
                <h5 id="qtdeEntrada" class="card-title display-3 text-bold">{{qtde_entradas|default:0}}</h5>
                <p class="card-text">Qtde de entradas</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-3 mb-3">
        <div class="card text-bg-warning h-100">
            <div class="card-body">
                <h5 id="qtdeSaida" class="card-title display-3 text-bold">{{qtde_saidas|default:0}}</h5>
                <p class="card-text">Qtde de saídas</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-3 mb-3">
        <div class="card text-bg-primary h-100">
            <div class="card-body">
                <h5 id="totalEntrada" class="card-title display-3 text-bold">{{total_entradas|default:0}}</h5>
                <p class="card-text">Total de entradas</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-3 mb-3">
        <div class="card text-bg-warning h-100">
            <div class="card-body">
                <h5 id="totalSaida" class="card-title display-3 text-bold">{{total_saidas|default:0}}</h5>
                <p class="card-text">Total de saídas</p>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="row mb-3">
    <div class="col p-0">
        <form method="get">
            <input name="filtro" type="hidden" value="{{filtro}}">
            <input name="q" type="text" class="form-control" placeholder="Pesquisar">
        </form>
    </div>
</div>
<div class="row">
    <div class="col p-0">
        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover table-bordered shadow">
                <thead class="table-dark">
                    <tr class="text-center" style="white-space: nowrap;">
                        <th scope="col">Opções</th>
                        <th scope="col">#</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Depósito</th>
                        <th scope="col">Produto</th>
                        <th scope="col">Quantidade</th>
                        {% if filtro == 'E' %}
                        <th scope="col">Fornecedor</th>
                        {% elif filtro == 'S' %}
                        <th scope="col">Nome do cliente</th>
                        {% else %}
                        <th scope="col">Fornecedor</th>
                        <th scope="col">Nome do cliente</th>
                        {% endif %}
                        <th scope="col">Criado por</th>
                        <th scope="col">DtHr Criação</th>
                        <th scope="col">Alterado por</th>
                        <th scope="col">DtHr Alteração</th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in movimentacoes %}
                    <tr style="white-space: nowrap;">
                        <td>
                            <div class="d-flex flex-row align-item-center">
                                {% if perms.core.change_movimentacao %}
                                <a href="{% url 'Backoffice_Movimentacao_Alterar' m.id %}"
                                    class="btn btn-sm btn-info me-1">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                {% endif %}
                                {% if perms.core.delete_movimentacao %}
                                <a href="{% url 'Backoffice_Movimentacao_Excluir' m.id %}"
                                    class="btn btn-sm btn-danger">
                                    <i class="bi bi-trash3"></i>
                                </a>
                                {% endif %}
                            </div>
                        </td>
                        <td scope="row">{{m.id}}</td>
                        {% if m.tipo == "S" %}
                        <td scope="row" class="text-bg-warning">
                            <strong>Saída</strong>
                        </td>
                        {% elif m.tipo == "E" %}
                        <td scope="row" class="text-bg-primary">
                            <strong>Entrada</strong>
                        </td>
                        {% endif %}
                        <td scope="row">{{m.deposito}}</td>
                        <td scope="row">{{m.produto}}</td>
                        <td scope="row">{{m.quantidade}}</td>
                        {% if filtro == 'E' %}
                        <td scope="row">{{m.fornecedor}}</td>
                        {% elif filtro == 'S' %}
                        <td scope="row">{{m.nome_cliente}}</td>
                        {% else %}
                        <td scope="row">{{m.fornecedor|default:""}}</td>
                        <td scope="row">{{m.nome_cliente|default:""}}</td>
                        {% endif %}
                        <td scope="row">{{m.created_by}}</td>
                        <td scope="row">{{m.created_at}}</td>
                        <td scope="row">{{m.updated_by}}</td>
                        <td scope="row">{{m.updated_at}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.9/dist/chart.umd.min.js"></script>

<script defer>
    document.addEventListener("DOMContentLoaded", () => {
        if (!document.querySelector("#qtdeEntrada")) {
            return
        }

        const qtdeEntrada = parseInt(document.querySelector("#qtdeEntrada").innerHTML) || 0;
        const qtdeSaida = parseInt(document.querySelector("#qtdeSaida").innerHTML) || 0;

        const totalEntrada = parseInt(document.querySelector("#totalEntrada").innerHTML) || 0;
        const totalSaida = parseInt(document.querySelector("#totalSaida").innerHTML) || 0;

        const data = (title, entrada, saida) => ({
            type: 'doughnut',
            data: {
                labels: ['Entradas', 'Saídas'],
                datasets: [{
                    label: '# Movimentações',
                    data: [entrada, saida],
                    backgroundColor: [
                        'rgb(13, 110, 253)',
                        'rgb(255, 193, 7)',
                    ],
                    hoverOffset: 4
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: title
                    }
                }
            }
        });

        const ctx1 = document.getElementById('myChart1');
        const c1 = new Chart(ctx1, data("Qtde Movimentações", qtdeEntrada, qtdeSaida));

        const ctx2 = document.getElementById('myChart2');
        const c2 = new Chart(ctx2, data("Totais de Movimentações", totalEntrada, totalSaida));
    })
</script>

{% endblock %}